
body {
    padding: 0;
    margin: 0;
    /* height: calc(100vh - calc(100vh - 100%)); */
    position: relative;
}

div#appcontent {
    max-width: 375px;
    width: 100vw;
    height: 100vh;
    max-height: 812px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 25%);
}
#addpe, #addgift  {background: #42BDE3;border: none;border-radius: 25px;padding: 10px;width: calc(100% - 80px);color: #fff;bottom:20px;position:absolute;left: 40px;text-align:center;}

#app{
    height: 100vh;
    position: relative;
    transition: margin-left 0.2s linear;
    overflow: hidden;
    padding:20px;
}

#app h1{
    width: 200px;
    text-align: center;
    margin: auto;
    font-size: 30px;
}


.listimg{
    width:50px;
    height:50px;
    margin-right:10px;
    /* margin-left: auto; */
}

.listimg img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.listp{display:flex;flex-wrap: nowrap;flex-direction: row;border-bottom: 1px solid #E8E8E8;padding: 10px 0px;}
.dayleft{margin-left:auto;}

.addp {
    bottom: -800px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    border-radius: 16px 16px 0px 0px;
    z-index: 2;
    width: 100%;
    padding: 40px;
    transition: bottom 0.2s linear;
    left: 0;
}

.form-control {
    background: #F6F6F6;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 10px;
}


.overlay {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.overlayshow {
    display: block;
}

.showaddform {
    bottom: 1px;
    transition: bottom 0.2s linear;

}

.closetxt {
    width: 100%;
    text-align: center;
    color: #42BDE3;
    text-align: center;
    display: block;
    margin-top: 15px;
}


#insertpeople {
    background: #42BDE3;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    color: #fff
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-left: 15px;
    font-weight: bold;
}

ul.list-group {
    height: 50%;
    overflow-y: auto;
    /* background: #FF9900; */
}

ul.list-group-home {
    padding:0;
    height: 65%;
    overflow-y: auto;
    /* background: #FF9900; */
}


/* Details */
.details {transition: left 0.2s linear;left: 400px; height: 100vh;
    top: 0;
    display:block;
    position: absolute;
    background: #fff;
    width: calc(100% - 40px);
    z-index: 3;
    box-shadow: 2px 0px 20px 0px rgb(0 0 0 / 25%);
}
.showdetails{    
    left: 40px;
    transition: left 0.2s linear;
  
   }

.moveleft {
    margin-left: -40px!important;
  
}

.headerdetail{
    background: #42BDE3;
    height: 145px;
    width:100%;
}

.detailpicture{
    position: absolute;
    width: 158px;
    height: 158px;
    left: calc(50% - 158px/2 - 0.5px);
    top: 28px;
    border-radius: 50%;
    border: 5px solid #FFF;
    background: #fff;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 25%);
}

.detailpicture img{
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    height:100%
}

.headerdetailinfos{
    color:#fff;
    padding-top:50px;
    font-size:30px;
    text-align: center;
    position: relative;
}

.back{
    position:absolute;
    /* top:0px; */
    left: 20px;
    font-size:16px;
    padding-top: 10px;
    display: flex;
}

.detailbody{
    padding: 20px;
    text-align: center;
    height: calc(100vh - 220px);
    overflow: hidden;
}

.detailbody h2{
    margin-top:45px;
}

.searchgift{
    margin-top:32px;
    margin-bottom:32px;
}

.giftli{
    list-style-type: circle!important;
    border-bottom: 1px solid #E8E8E8;
    text-align: left;
    position: relative;
    padding: 15px 0;
}

.dot{
    width: 16px;
    height: 16px;
    background:#42BDE3;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 19px;
    left:0;
}

span.giftdate {
    float: right;
}

span.giftname {
    /* background: #FF9900; */
    width: 86%;
    float: left;
    padding-left: 25px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  button#picture {
    background: #F6F6F6;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
}