body {
    padding: 0;
    margin: 0;
    height: 100vh;
    position: relative;
    color: #a3a3a3;
    display: flex;
    align-items: center;
}

div#appcontent {
    max-width: 375px;
    width: 100vw;
    height: 100vh;
    max-height: 812px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 25%);
}

.addp h2{
    font-size: 25px;
    margin-bottom: 20px;
    color: #245faf;
}


input[type="date"]
{
    display:block;
  
    /* Solution 1 */
     -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em; 
  
    /* Solution 2 */
    /* min-width: 96%; */
}

#addpe,
#addgift {
    background: #42BDE3;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: calc(100% - 80px);
    color: #fff;
    bottom: 20px;
    position: absolute;
    left: 40px;
    text-align: center;
    background: linear-gradient(90deg, rgba(36, 95, 175, 1) 0%, rgba(47, 135, 209, 1) 100%);
    text-align: center;
}

#app {
    height: 100%;
    position: relative;
    transition: margin-left 0.2s linear;
    overflow: hidden;
    padding: 20px;
}

#app h1 {
    width: 100%;
    text-align: left;
    font-size: 32px;
    color: #245faf;
    font-weight: bold;
}

.addbirthday {
    float: right;
    font-size: 30px;
    color: #a3a3a3;
    position: relative;
    width: 100%;
    text-align: right;
}


.listimg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    /* margin-left: auto; */
    border-radius: 50%;
    overflow: hidden;
}

.listimg img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.listp {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-bottom: 1px solid #E8E8E8;
    padding: 10px 0px;
}

.dayleft {
    margin-left: auto;
}

.addp {
    bottom: -800px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    border-radius: 16px 16px 0px 0px;
    z-index: 2;
    width: 100%;
    padding: 40px;
    transition: bottom 0.2s linear;
    left: 0;
}

div#searchbar {
    background: #F6F6F6;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
}


.form-control {background:transparent;border: none;padding: 0;padding-left: 10px;}

.addp form input {
    background: #F6F6F6;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 10px;
    -webkit-appearance: none;
}

.addp form select {
    background: #F6F6F6;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 10px;
    height: auto!important;
}



.overlay {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.overlayshow {
    display: block;
}

.showaddform {
    bottom: 1px;
    transition: bottom 0.2s linear;

}

.closetxt {
    width: 100%;
    text-align: center;
    color: #245faf;
    text-align: center;
    display: block;
    margin-top: 15px;
}


#insertpeople {
    background: #42BDE3;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    color: #fff;
    background: linear-gradient(
90deg, rgba(36, 95, 175, 1) 0%, rgba(47, 135, 209, 1) 100%);
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-left: 15px;
    font-weight: bold;
}

ul.list-group {
    height: 30%;
    overflow-y: auto;
    /* background: #FF9900; */
}

ul.list-group-home {
    padding: 0;
    height: 65%;
    overflow-y: auto;
    /* background: #FF9900; */
}

span.peoplename {
    color: #245faf;
    font-weight: bold;
    font-size: 18px;
}

/* Details */
.details {
    transition: left 0.2s linear;
    left: 400px;
    height: 100%;
    top: 0;
    display: block;
    position: absolute;
    background: #fff;
    width: calc(100% - 40px);
    z-index: 3;
    box-shadow: 2px 0px 20px 0px rgb(0 0 0 / 25%);
}

.showdetails {
    left: 40px;
    transition: left 0.2s linear;
}

.moveleft {
    margin-left: -40px !important;
}

.headerdetail {
    background: #42BDE3;
    height: 340px;
    width: 100%;
    background: rgb(36, 95, 175);
    background: linear-gradient(180deg, rgba(36, 95, 175, 1) 0%, rgba(47, 135, 209, 1) 100%);
    text-align: center;
    position: relative;
}

.detailpicture {
    position: absolute;
    width: 145px;
    height: 145px;
    left: calc(50% - 145px/2 - 0.5px);
    top: 50px;
    border-radius: 50%;
    border: 5px solid #FFF;
    background: #fff;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 25%);
}

.detailpicture img {
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    height: 100%
}

.headerdetailinfos {
    color: #fff;
    /* padding-top: 141px; */
    font-size: 30px;
    text-align: center;
    position: relative;
    position: absolute;
    top: 10px;
    width: 100%;
}

.back {
    position: absolute;
    /* top:0px; */
    left: 20px;
    font-size: 16px;
    padding-top: 10px;
    display: flex;
}

.detailbody {
    padding: 20px;
    text-align: center;
    height: calc(100vh - 220px);
    overflow: hidden;
}

.detailbody h2 {
    margin-top: 45px;
}

.contact {
    border-top: 1px solid #F6F6F6;
    border-bottom: 1px solid #F6F6F6;
    padding: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* color: #a3a3a3; */
    margin-top: 15px;
}

.contact a{display: flex;align-items: center;font-size: 12px;color: #a3a3a3;}

.contact span{font-size:20px}

.icon {
    padding: 10px;
    background: #F3F3F3;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    /* font-size: 15px!important; */
}

.cakeicon{
    font-size: 15px;
    margin-right: 5px;
}

span.material-icons.icon.callicon {
    background: #47cc5c;
    color: #FFF;
}

span.material-icons.icon.smsicon {
    color: #FFF;
    background: #1c8ae7;
}

.giftli {
    list-style-type: circle !important;
    border-bottom: 1px solid #E8E8E8;
    text-align: left;
    position: relative;
    padding: 15px 0;
}

.dot {
    /* width: 10px; */
    /* height: 10px; */
    /* background: #42BDE3; */
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    font-size: 20px;
    left: 0;
}

span.giftdate {
    float: right;
    color: #245faf;
    font-weight: bold;
}

span.giftname {
    /* background: #FF9900; */
    width: 86%;
    float: left;
    padding-left: 25px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

button#picture {
    background: #F6F6F6;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
}

.dayleft_detail {
    max-width: 150px;
    width: 100%;
    margin: auto;
    background: #245faf;
    padding: 10px;
    text-align: center;
    color: #FFF;
    border-radius: 40px;
    border: 5px solid #FFF;
    margin-top: -25px;
    z-index: 1;
    position: relative;
    font-size: 25px;
    background: linear-gradient(90deg, rgba(36, 95, 175, 1) 0%, rgba(47, 135, 209, 1) 100%);
    text-align: center;
}

.userinfos {
    position: absolute;
    bottom: 40px;
    margin: auto;
    width: 80%;
    text-align: center;
    left: 10%;
    color: #fff;
}