<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>What for Ur B-Day</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <div id="appcontent">
    <div id="app" v-bind:class="{moveleft : showdetails}">
      <span class="material-icons addbirthday" v-on:click="showaddform = !showaddform">
        add
        </span>
      <h1>{{ title }}</h1>
      <div id="searchbar" class="my-4">
        <span class="d-flex align-items-center">
          <span class="material-icons" style="color: #a3a3a3;">
            search
            </span>
          <input v-model="whosearch" type="text" id="search" class="form-control"
        v-bind:placeholder="searchplaceholder" />
        </span>
        
      </div>
      
      <ul class="list-group-home">
        <li v-for="(birthday , index) in filteredListPeople"
          @click="getinformations(birthday.id),showdetails = !showdetails" class="listp" :key="birthday.id">
          <div class="listimg">
            <img :src="birthday.picture" />
          </div>
          <div class="userinfo">
            <span class="peoplename">{{ birthday.firstname }} {{ birthday.lastname }} </span><br />
            <span v-if="birthday.dateleft == '0'   ">{{next(birthday.yourage)}} <span v-if="birthday.yourage <=1 ">an</span><span v-if="birthday.yourage > 1 ">ans</span> aujourd'hui</span>
            <span v-else>{{next(birthday.yourage)}} ans dans {{ birthday.dateleft}} jours</span><br />
          </div>
          <div class="dayleft"  v-if="birthday.dateleft == '0'   " style="display:flex; align-items:center;">
            <span class="material-icons">
              celebration
              </span>
          </div>
          <div class="dayleft" v-else>
            {{ birthday.yourage}} <span v-if="birthday.yourage == 1 ">an</span><span v-if="birthday.yourage > 1 ">ans</span>
          </div>
        </li>
      </ul>

      <!-- VUE AJOUT ANNIVERSAIRE -->
      <div class="overlay" v-bind:class="{ overlayshow : showaddform } " v-on:click="showaddform = !showaddform"></div>


      <div class="addp" v-bind:class="{ showaddform : showaddform } ">
        <h2>Ajouter un anniversaire</h2>
        <form v-on:submit.prevent>
          <div class="form-group">
            <label for="firstname">Prénom</label>
            <input v-model="firstname" type="text" id="firstname" class="form-control"
              placeholder="Saisier un prénom" />
          </div>

          <div class="form-group">
            <label for="name">Nom</label>
            <input v-model="lastname" type="text" id="name" class="form-control" placeholder="Saisier un nom" />
          </div>
          <div class="form-group">
            <label for="bdate">Date de naissance</label>
            <input v-model="date" type="date" id="bdate" placeholder="Saisier une date de naissance"
              class="form-control" />
          </div>
          <div class="form-group">
            <label for="picture">Photo</label>
            <input type="file" style="display: none" @change="onFileSelected" ref="fileInput" id="toto" />
            <button @click="$refs.fileInput.click()" expand="full" id="picture">Choisir une image</button>
          </div>

          <button type="submit" id="insertpeople" v-on:click="addamemember">
            Ajouter
          </button>
          <span class="closetxt" v-on:click="showaddform = !showaddform">Fermer</span>
        </form>
      </div>


      <!-- VUE DETAILS -->
      <div class="details" v-bind:class="{ showdetails : showdetails } ">
        <div>
          <div class="headerdetail">
            <div class="headerdetailinfos">
              <span class="back" @click="showdetails = !showdetails, reset()"><span class="material-icons">
                  arrow_back_ios_new
                </span>Anniversaires</span>
              <span style="float:right; margin-right:20px">
                <span class="material-icons" v-on:click="deleteMember(), showdetails = !showdetails, reset()">
                  delete_outline
                </span>
              </span>
            </div>
            <div class="userinfos">
              <h2>{{ firstname }} {{ lastname }}</h2>
              <span><span class="material-icons">
                cake
                </span>{{ dateformated }} </span><br />
              <span>{{ aged+1 }} ans dans </span>
            </div>
          </div>
          <div class="dayleft_detail">
            {{ daysleft }} jours
          </div>
          <div class="detailpicture">
            <img :src="picture" />
          </div>
          <div class="detailbody">
            <div id="searchbar">
            <span class="d-flex align-items-center">
              <span class="material-icons" style="color: #a3a3a3;">
                search
                </span>
                <input v-model="whatsearch" type="text" id="search" class="form-control searchgift"
              placeholder="Rechercher un cadeau" />
            </span>
          </div>




       
            <ul class="list-group">
              <li v-for="gift in filteredList" class="giftli">
                <span class="dot"></span><span class="giftname">{{ gift.gift }} </span><span
                  class="giftdate">{{ gift.date }}</span>
              </li>
            </ul>
          </div>

          <div class="overlay"></div>

          <div id="addgift" v-on:click="showaddformgift = !showaddformgift">
            Ajouter un cadeau
          </div>
        </div>


        <!-- VUE AJOUT CADEAU -->
        <div class="overlay" v-bind:class="{ overlayshow : showaddformgift } "
          v-on:click="showaddformgift = !showaddformgift"></div>


        <div class="addp" v-bind:class="{ showaddform : showaddformgift } ">
          <h2>Ajouter un cadeau</h2>
          <form v-on:submit.prevent>
            <div class="form-group">
              <label for="year">Année</label>
              <select v-model="year" class="form-control" id="year">

                <option v-for="year in years">{{ year.date}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="gift">Cadeau</label>
              <input v-model="gift" type="text" id="gift" class="form-control" placeholder="Saisier un nom" />
            </div>


            <button type="submit" id="insertpeople" v-on:click="addagift">
              Ajouter
            </button>
            <span class="closetxt" v-on:click="showaddformgift = !showaddformgift">Fermer</span>
          </form>
        </div>


      </div>

      <div id="addpe" v-on:click="showaddform = !showaddform">
        Ajouter une personne
      </div>
    </div>
  </div>

  <script src="./script/vue.js"></script>

</body>

</html>